@font-face {
    font-family: 'Righteous';
    src: url('https://cdn.jsdelivr.net/gh/b1acksoil/blog-cdn/fonts/Righteous-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira Code';
    src: url('https://cdn.jsdelivr.net/gh/b1acksoil/blog-cdn/fonts/FiraCode-Regular.ttf') format('truetype');
}